/* home page css start */
body{
  font-family: "League Spartan", sans-serif;
}

.movingShape {
  position: relative;
  background-image: url("../../assets/shape-15.png");
  background-position: 30% 30%;
  background-size: 100px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  animation: moveBackground 3s ease-in-out infinite alternate;
}
@keyframes moveBackground {
  0% {
    background-position: 0% 30%; 
  }
  100% {
    background-position: 10rem 30%;
  }
}

.homeBackground-container-image {
  position: relative;
  background-image:
    url("../../assets/html-icon.png"),
    url("../../assets/horizonatlShape1.png"),
    url("../../assets/python-icon.png"),
    url("../../assets/shape-31.png"),
    url("../../assets/code-icon.png"),
    url("../../assets/shape-098.png"),
    url("../../assets/circle-png.png");

  background-position:
    32% 25%, 
    100% 65%, 
    90% 50%,  
    90% 25%,  
    40% 65%,  
    40% 100%, 
    92% 39%;  

  background-size:
    150px,
    50px,
    160px,
    150px,
    100px,
    120px,
    100px;

  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: background-position 0.1s ease-in-out; 
}

@media (max-width: 768px) {
  .movingShape,
  .homeBackground-container-image {
    background-image: none;
  }
}

/* about section */
.homeBackground-container-imageAbout {
  position: relative;
  background-image:
    url("../../assets/shape-46-1.png"),
    url("../../assets/shape-31.png"),
    url("../../assets/shape-05.png");
  background-position:
    10% 1%, 
    1% 40%, 
    100% 100%;
  background-size:
    200px, 
    200px, 
    200px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: background-position 0.1s ease-in-out;
}

/* Hide background image for small screens */
@media only screen and (max-width: 767px) {
  .homeBackground-container-imageAbout {
    background-image: none;
  }
}

.aboutImage {
  -webkit-box-shadow: 0px 0px 0px 30px rgba(185, 250, 213, 1);
  -moz-box-shadow: 0px 0px 0px 30px rgb(172, 172, 172);
  box-shadow: 0px 0px 0px 30px rgb(243, 242, 242);
}

/* features styles */
.featuresShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.backgroundgradientOnly {
  background: linear-gradient(to right, #30b979, #1bb69b);
  border-radius: 10px;
}

.backgroundImageOnly {
  background-image: url("../../assets/cta-bg-imgae-07.png");
}

/* Faq's */
.faqsBGImage {
  background-image: url("../../assets//shape-55.png"), url("../../assets/shape-56.png");
  background-position: 50% 75%, 100% 5%;
  background-size: 100px, 100px;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  /* Hide background images on small screens */
  .faqsBGImage {
    background-image: none;
  }
}

/* custom Move */
.customMoveBg{
  background-image: url("../../assets/shape-54.png");
  background-position: 0% 30%;
  background-size:300px;
  background-repeat: no-repeat;
}
@keyframes scroll{
  0%{
    transform: translate(100%);
  }
 100%{
    transform: translate(-100%);
  }
}

/* testi */
.testiBgImage {
  background-image: url("../../assets//shape-52.png"), url("../../assets//shape-098.png"), url("../../assets/shape-53.png");
  background-position: 0% 30%, 93% 40%, 98% 50%;
  background-size: 150px, 150px, 150px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .testiBgImage {
    background-image: none; /* Remove background image for small devices */
  }
}

/* artical */
.articalBgImage {
  background-image: url("../../assets//shape-31.png"), url("../../assets/circle-png.png");
  background-position: 0% 45%, 10% 55%;
  background-size: 200px, 100px;
  background-repeat: no-repeat;
}

.articalBgAvatar {
  background-image: url("../../assets//python-icon.png"), url("../../assets//shape-31.png"), url("../../assets/html-icon.png");
  background-position: 5% 5%, 60% 30%, 75% 0%;
  background-size: 100px, 100px, 100px;
  background-repeat: no-repeat;
}

.articalBgText {
  background-image: url("../../assets//shape-098.png"), url("../../assets/code-icon.png");
  background-position: 110% 155%, 95% 10%;
  background-size: 150px, 100px;
  background-repeat: no-repeat;
}

/* Hide background images on small screens */
@media (max-width: 768px) {
  .articalBgImage, .articalBgAvatar, .articalBgText {
    background-image: none;
  }
}

/* Footer */
.footer {
  background-image: url("../../assets//BG-3.webp");
  background-position: 1% 1%;
  background-size:auto;
  background-repeat: no-repeat;
}

/* mobile Responsive */

/* artical */
@media only screen and (max-width: 768px) {
  .articalBgAvatar img {
    width: 200px;
    margin-left: 0;
  }

  .articalBgText {
    text-align: center;
    margin-left: 0;
  }

  .grid-container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
/* Home Page Styling end */

/* About Page Styling Strat */
.aboupageMainImageBG{
  background-image: url("../../assets/edublink-breadcrumb-bg.webp");
  background-size:auto;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.featuresShadowAbouPage{
  box-shadow: rgba(32, 32, 85, 0.2) 0px 7px 29px 0px;
}
.aboutPageCounter{
  box-shadow: rgba(32, 32, 85, 0.2) 0px 7px 29px 0px;
}
.aboutPageFeatures{
  filter: grayscale(60%);
    transition: filter 0.3s ease;
}

.aboutPageFeatures:hover {
    filter: grayscale(0%);
}
.CommonBgImage {
  position: relative;
  background-image:
    url("../../assets/shape-13.png"),
    url("../../assets/horizonatlShape1.png"),
    url("../../assets/shape-15.png");

  background-position:
    10% 100%, 
    100% 0%,
    93% 40%;  

  background-size:
    200px,
    50px,
    100px;

  background-repeat: no-repeat;
  background-color: #F4F5FA;
  width: 100%;
  height: 100%;
  transition: background-position 0.1s ease-in-out; 
}

@media (max-width: 768px) {
  .CommonBgImage {
    background-image: none;
  }
}
/* About Page Styling End */